mutt/accounts/
mutt/cache/*
mutt/certificates
tags
*~
*.sw*
.VimballRecord
.netrwhist
.DS_Store
*.log
*.tmp
*.swp
*.old
*.bkp
*.zip
*.rar
*.arj
*.[t]gz
*.[t]bz2
tmp/
log/
vim/backups
vim/bundle
vim/bundle/neobundle.vim
vim/bundles
vim/plugged
sessions/
tmux/plugins
tmux/resurrect/*
zsh/.aliases.local

.emacs.d/recentf
.emacs.d/ido.last
.emacs.d/network-security.data
.emacs.d/projectile-bookmarks.eld
.emacs.d/rake.cache
.emacs.d/transient/
.emacs.d/eshell/
.emacs.d/.mc-lists.el

zsh/env_variables.zsh