mutt/accounts/
mutt/cache/*
mutt/certificates
tags
*~
*.sw*
.VimballRecord
.netrwhist
.DS_Store
*.log
*.tmp
*.swp
*.old
*.bkp
*.zip
*.rar
*.arj
*.[t]gz
*.[t]bz2
tmp/
log/
vim/backups
vim/bundle
vim/bundle/neobundle.vim
vim/bundles
vim/plugged
sessions/
tmux/plugins
tmux/resurrect/*
zsh/.aliases.local

.emacs.d/network-security.data
.emacs.d/rake.cache
.emacs.d/transienr/
.emacs.d/eshell/
.emacs.d/.mc-lists.el
.emacs.d/bookmarks
.emacs.d/*~
.emacs.d/#init.el#
.emacs.d/*.elc
.emacs.d/auto-save-list
.emacs.d/recentf
.emacs.d/savehist
.emacs.d/saveplace
.emacs.d/eshell
.emacs.d/elpa
.emacs.d/semanticdb
.emacs.d/url
.emacs.d/ede-projects.el
.emacs.d/.DS_Store
.emacs.d/custom.el
.emacs.d/places
.emacs.d/.smex-items
.emacs.d/savefile/
.emacs.d/projectile-bookmarks.eld
.emacs.d/session*
.emacs.d/.cask
.emacs.d/tramp
.emacs.d//var/pcache
.emacs.d/custom.el
.emacs.d/elpy/

zsh/env_variables.zsh
