[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = vim
[user]
  name = Pablo Fonseca
  email = pablofonseca777@gmail.com
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[push]
  default = current
[pull]
  default = current
[color]
  ui = true
  diff = auto
  branch = auto
  interactive = auto
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
  deleted = red
[alias]
  co = checkout
  st = status
  cm = commit
[diff]
  mnemonicprefix = true
  algorithm = patience
[merge]
	tool = vim
[fetch]
  prune = true
[github]
	user = pablobfonseca
[mergetool "vim"]
	cmd = vim -w $MERGED
	trustExitCode = false
[credential]
	helper = osxkeychain
