[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = vim --noplugin
[user]
  name = Pablo Fonseca
  email = pablofonseca777@gmail.com
[branch]
  autosetupmerge = true
  autosetuprebase = always
[branch "master"]
  rebase = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[color]
  ui = true
  diff = auto
  branch = auto
  interactive = auto
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
  deleted = red
[alias]
  co = checkout
  st = status -s
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  cm = commit
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  cleanup = !git remote prune origin && git gc && git clean -df && git stash clear
[diff]
  mnemonicprefix = true
  algorithm = patience
[merge]
  ff = only
  tool = vim
[fetch]
  prune = true
[github]
  user = pablobfonseca
[mergetool "vim"]
  cmd = vim -w $MERGED
  trustExitCode = false
[credential]
  helper = osxkeychain
[rerere]
  enabled = true
[help]
  autocorrect = 1
