packages
projectile-bookmarks.eld
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
savefile/
var/
cache/
.lsp-session*
.cache
/#init.el#
/straight/
/vim/plugged/
