# Global snippets
# (c) holds no legal value ;)

snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet bdate
	`strftime("%Y-%m-%d")`
snippet date
	`strftime("%B %d, %Y")`
