snippet header
	" File: ${1:`expand('%:t')`}
	" Author: ${2:`g:snips_author`}
	" Description: ${3}
	${4:" Last Modified: `strftime("%B %d, %Y")`}

snippet plug
	" ${1}- ${2}
	Plug '${3}'
	" vim: ft=vim
