network-security.data
rake.cache
transient/
eshell/
.mc-lists.el
bookmarks
*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
custom.el
magithub
snippets
abbrev_defs
projectile.cache
smex-items
.flycheck_init